<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- replace `[youraccount]` with your visualstudio.com account name and `[yourfeedname]` with your artifact feed name -->
    <add key="MyNuGet" value="https://[youraccount].pkgs.visualstudio.com/_packaging/[yourfeedname]/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyNuGet>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="%FEED_ACCESSTOKEN%" />
    </MyNuGet>
  </packageSourceCredentials>
</configuration>
